# Mac
.DS_Store
### Maven ###
target/
log/
# PDT-specific
.buildpath
### Eclipse ###
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.test-output*
